.amp-bower-container#wrap
  .jumbotron.amp-bower.animated.fadeInDown
    h1 Revenue Manager
    .search-container
      dropdown-search(search="main.searchTerm"
        add="main.addButtonClick()")
  dropdown-list(list="main.accounts"
    search="main.searchTerm"
    view="main.accountClick(account)"
    remove="main.removeAccount(account)"
    error="main.error")
