article.account-article
  .platform-icons
    h3.account-name
      i.fa.fa-plus-square.text-info(title = "Add Platform Link" ng-click='accountCtrl.platformModel = { new:true }')
      |  {{accountCtrl.account.name}}
    h3.platforms(ng-repeat="platform in accountCtrl.platformInfo"
      uib-popover="{{platform.name}}"
      popover-trigger='mouseenter'
      popover-placement='bottom-left'
      ng-click='accountCtrl.platformModel = platform')
      i.fa(class='fa-{{platform.platform}}')
  form
    .platform-change-values(ng-if="accountCtrl.platformModel")
      .close-platform
        button.btn.btn-danger(title="Remove Platform Link" ng-if='accountCtrl.platformModel && !accountCtrl.platformModel.new') #[strong Remove]
        button.btn.btn-info(title='Close' ng-click="accountCtrl.platformModel=null")
          i.fa.fa-close
      section.account-column(sf-schema='accountCtrl.schema'
        sf-form ="accountCtrl.forms.platform"
        sf-model='accountCtrl.platformModel')
    .account-change-values
      section.account-column(sf-schema='accountCtrl.schema'
        sf-form ="accountCtrl.forms.account"
        sf-model='accountCtrl.account')
    section.button-bar
      button.btn.btn-warning(ng-click="accountCtrl.setAccount()") Reset
      button.btn.btn-info(type='submit') Submit
