article.account-article
  .platform-icons
    h3.account-name
      i.fa.fa-plus-square.text-info(ng-click='accountCtrl.model = {}')
      |  {{account.name}}
    h3.platforms(ng-repeat="platform in accountCtrl.platformInfo"
      uib-popover="{{platform.name}}"
      popover-trigger='mouseenter'
      popover-placement='bottom-left'
      ng-click='accountCtrl.model = platform')
      i.fa(class='fa-{{platform.platform}}')
  form(ng-if='accountCtrl.model')
    .change-values
      section.account-column(sf-schema='accountCtrl.schema'
        sf-form ="accountCtrl.form"
        sf-model='accountCtrl.model')
    section.button-bar
      button.btn.btn-warning(type='reset') Reset
      button.btn.btn-info(type='submit') Submit
  .account-values
    strong(ng-click="static = !static; long=false;") Static Values&nbsp;
      i.fa.fa-chevron-down(ng-if="static")
      i.fa.fa-chevron-up(ng-if="!static")
    strong(ng-click="long = !long; static=false;") Notes&nbsp;
      i.fa.fa-chevron-down(ng-if="long")
      i.fa.fa-chevron-up(ng-if="!long")
  .static-values(ng-if="static")
    small(ng-repeat="(key, val) in account.static")
      strong {{key}}
      br
      |{{val}} &nbsp;
  .long-values(ng-if="long")
    small(ng-repeat="(key, val) in account.long")
      strong {{key}}
      br
      |{{val}} &nbsp;


